<h1 class="add-travel-title ml-3 mt-2 mb-3 text-monospace font-weight-bold">You should take:</h1>
<ul class="list-group">
  <li class="list-group-item d-flex justify-content-between align-items-center" *ngFor="let recommendation of data">
    {{recommendation.name}} <span class="badge badge-primary badge-pill"> {{recommendation.recommendedAmount}}</span>
  </li>
</ul>
<div mat-dialog-actions class="align-items-center">
  <button mat-button (click)="onNoClick()">OK, I have to prepare my baggage!</button>
</div>
