<img src="../assets/images/clouds.jpg" alt="clouds" height="212" class="image w-100">
<div class="container d-flex flex-column align-items-center justify-content-center align-content-between">
    <div class="content d-flex flex-column align-items-center align-content-between mb-2">
        <img src="../assets/images/logo.jpg" alt="Logo" height="100" class="logo" />
        <h1 class="title"><b> WARDROBE APP </b></h1>
        <p class="description">
            This application will help you choose the right clothes from your wardrobe based on your travel plans
        </p>
    </div>

    <div>
        <button class="login-button d-flex align-items-center mt-2" matTooltip="Login" mat-raised-button color="primary" (click)="onLogin()">
              <span class="login-text"><img src="../assets/images/google.png" class="google mr-1 p-1"/>LOGIN</span>
        </button>
    </div>
</div>