.title {
    font-family: 'Courier New', Courier, monospace;
    font-size: 50px;
    color: darkslateblue;
}

.description {
    font: italic 30px Georgia, serif;
    width: 40%;
    text-align: center;
}

.login-text {
    font-size: 20px;
}

.google {
    width: 35px;
    height: 35px;
}