.container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    align-content: space-between;
    position: relative;
}

.image {
    display: block;
    align-items: center;
    justify-content: center;
    position: relative;
}

h1 {
    font-size: 4rem;
}

h2 {
    font-size: 3rem;
}
