button:focus,
button:active:focus,
button.active.focus {
    outline: none !important;
    outline-style: none !important;
}

.button {
    width: max-content;
}

.list-group {
    width: max-content;
}
