button:focus,
button:active:focus,
button.active.focus {
    outline: none !important;
    outline-style: none !important;
}

.list-group-item {
    border-color: navy;
    width: 25em;
    color: darkslategrey;
}

.button {
    margin-top: 27px;
}
