<h1 class="add-travel-title ml-3 mt-2 mb-5 text-monospace font-weight-bold"> Add your travel</h1>

<div class="d-flex flex-column ml-2">
    <form [formGroup]="travelForm" (ngSubmit)="addTravel()" class="forms">
        <div class="d-flex flex-column">
            <div class="d-flex flex-row align-items-center mb-4">

                <div class="d-flex flex-column mr-4">
                    <label for="text-input">Place of travel</label>
                    <input class="form-control border-dark" type="text" placeholder="Enter city" id="text-input" maxlength="30" formControlName="destination">
                </div>

                <div class="d-flex flex-column mr-4">
                    <label for="date-input">Time of travel</label>
                    <input class="form-control border-dark" type="date" value="rrrr-mm-dd" id="date-input" formControlName="date">
                </div>


                <button mat-mini-fab color="primary" style="font-size: 30px" type="submit" title="Add travel" class="mt-4">+</button>
            </div>
        </div>
    </form>
</div>

<h1 class="add-travel-title ml-3 mt-2 text-monospace font-weight-bold mb-4"> Your plan of travels</h1>
<div *ngIf="travels.length === 0" class="ml-3 d-flex flex-row align-items-center">
    <p class="text-info"> List of your travel plans is empty, let's plan a travel! </p>
    <i class="material-icons ml-1 mb-2">mood</i>
</div>
<ul class="list-group">
    <li class="list-group-item ml-3 tab-content d-flex justify-content-between flex-column align-items-start" *ngFor="let travel of travels">
        <span> Destination: <b>{{travel.destination}}</b></span><span> Date: <b>{{travel.date}}</b></span>
    </li>
</ul>
