.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
  border-color: darkgrey;
}

.hidden {
  display: none;
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}

.spacer {
  font-size: 25px;
  flex: 1 1 auto;
}

.mat-toolbar a {
  font-size: 15px;
  display: inline-block;
  margin: 0px 10px;
  color: white;
  text-decoration: none;
}

.nav-list a {
  color: blue;
}

.user {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.material-icons {
  margin-top: 5px;
}

.material-icons.md-18 {
  font-size: 18px; }
.material-icons.md-24 {
  font-size: 24px; }
.material-icons.md-36 {
  font-size: 36px; }
.material-icons.md-48 {
  font-size: 48px; }
