<mat-sidenav-container class="sidenav-container">
    <mat-sidenav #sidenav class="sidenav" fixedInViewport="false" [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
        [mode]="(isHandset$ | async) ? 'over' : 'side'" [opened]="(isHandset$ | async) === false">
        <mat-toolbar class="d-flex flex-row align-items-center" id="toolbar-background">MENU<i class="material-icons md-36 ml-2">flight</i></mat-toolbar>
        <mat-expansion-panel>
            <mat-expansion-panel-header class="border border-secondary">
                <mat-panel-title>TRAVEL MANAGEMENT</mat-panel-title>
            </mat-expansion-panel-header>
            <mat-nav-list class="nav-list">
                <a mat-list-item routerLink="travels/add" routerLinkActive="active">Add your travel</a>
                <a mat-list-item href="#">Check your recommendation</a>
                <a mat-list-item href="#">History of travels</a>
                <router-outlet></router-outlet>
            </mat-nav-list>
        </mat-expansion-panel>
        <mat-expansion-panel>
            <mat-expansion-panel-header class="border border-secondary">
                <mat-panel-title>WARDROBE MANAGEMENT</mat-panel-title>
            </mat-expansion-panel-header>
            <mat-nav-list class="nav-list">
                <a mat-list-item href="#">Check your wardrobe</a>
                <a mat-list-item href="#">Add new garment</a>
            </mat-nav-list>
        </mat-expansion-panel>

    </mat-sidenav>
    <mat-sidenav-content>
        <app-navbar (drawerToggle)="drawerToggle()"></app-navbar>
    </mat-sidenav-content>
</mat-sidenav-container>