<head>
  <link href="https://fonts.googleapis.com/css2?family=Lemonada:wght@300;400;500;515;600;700&family=Oswald&family=Roboto&display=swap" rel="stylesheet">
  <style>
    p {
      font-family: 'Lemonada', cursive;
      text-align: left;
    }
  </style>
</head>
<p><b>
  My name is Grzegorz Roczniak and I created this project for my MA thesis at the University of Economics in Krakow </b></p>
<div mat-dialog-actions class="d-flex justify-content-center">
  <button mat-button (click)="onNoClick()">OK</button>
</div>
