.get-started-button {
    width: fit-content;
}

.get-started-button:hover {
    color: aqua;
}

.get-started-text {
    font-size: 20px;
}

h1 {
    font-family: 'Lato';
    font-size: 4rem;
    line-height: 3rem;
    text-align: center;
}

h2 {
    font-family: 'Lato';
    font-size: 3rem;
    line-height: 3rem;
    text-align: center;
}
