<div class="container d-flex flex-row align-items-center justify-content-start">
    <img src="../assets/images/family.jpg" alt="Happy family" height="500" class="family-image mt-5" />
    <div class="content ml-5 d-flex flex-column align-items-center">
        <img src="../assets/images/logo.jpg" alt="Logo" height="300" class="logo-image" />

      <h1 class="text-center h1"><strong>Life becomes easier</strong></h1>
      <h2 class="text-center h2 mb-4"><strong>Plan your travels safely</strong></h2>

        <button class="get-started-button mt-2 mb-5 align-items-center" matTooltip="Start" mat-raised-button color="primary" routerLink="/dashboard">
          <span class="get-started-text">GET STARTED</span>
        </button>
    </div>

</div>
